@model IEnumerable<Bugtracker.Areas.Bug.Models.Bug.BugBO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bug_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bug_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bug_CreatedDateT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bug_ModifiedDateT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bug_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bug_ModifiedByID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bug_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bug_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bug_CreatedDateT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bug_ModifiedDateT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bug_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bug_ModifiedByID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
